__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
env/
venv/
ENV/
*.egg-info/
.Python

.winvenv/
winvenv/


node_modules/

.vscode/

# *.sqlite3 - keep for CS50

*.log
# System/Editor files
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp